<div class="container">
  <h1>Welcome to our Anagram Checker!</h1>

<form method='post' action='/anagrams'>
  Word: <Input type='word' name='word' placeholder='word'><br>
  <button>Check for anagrams!</button>
  <br>
</form>

</div>